<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<system.diagnostics>
        <sources>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="d:\doma\marek\projekty\programování\senselab\senselab.environments.service\app_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="LogicalOperationStack, Timestamp, ThreadId, Callstack">
                <filter type="" />
            </add>
            <add initializeData="d:\doma\marek\projekty\programování\senselab\senselab.environments.service\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="LogicalOperationStack, Timestamp, ThreadId, Callstack">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="ws" clientBaseAddress="http://localhost:7636/CeMaS.SenseLab.Environment.Changes"/>
            </wsDualHttpBinding>
        </bindings>
        <diagnostics>
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtTransportLevel="true" />
            <endToEndTracing propagateActivity="true" activityTracing="true" />
        </diagnostics>
        <client>
            <endpoint address="http://localhost:7537/CeMaS.SenseLab.Environment" binding="wsDualHttpBinding"
                bindingConfiguration="ws" contract="SenseLab.Environments.Service.IEnvironmentService"
                name="ws" />
            <endpoint address="net.tcp://localhost:7539/CeMaS.SenseLab.Environment" binding="netTcpBinding"
                bindingConfiguration="" contract="SenseLab.Environments.Service.IEnvironmentService"
                name="net" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="behaviour">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="behaviour" name="SenseLab.Environments.Local.Environment">
                <endpoint address="" binding="wsDualHttpBinding"
                    name="ws" contract="SenseLab.Environments.Service.IEnvironmentService" />
                <endpoint address="" binding="netTcpBinding"
                    name="net" contract="SenseLab.Environments.Service.IEnvironmentService" />
                <endpoint address="mex" binding="mexHttpBinding"
                    name="mex" contract="IMetadataExchange" kind="mexEndpoint"
                    endpointConfiguration="" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:7537/CeMaS.SenseLab.Environment" />
                        <add baseAddress="https://localhost:7538/CeMaS.SenseLab.Environment" />
                        <add baseAddress="net.tcp://localhost:7539/CeMaS.SenseLab.Environment" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>