<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SenseLab.Environments.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SenseLab.Environments.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SenseLab.Environments.Properties.Settings>
            <setting name="EnvironmentId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
        </SenseLab.Environments.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SenseLab.Environments.Properties.Settings>
            <setting name="EnvironmentName" serializeAs="String">
                <value />
            </setting>
            <setting name="EnvironmentDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="EnvironmentLocation" serializeAs="String">
                <value />
            </setting>
        </SenseLab.Environments.Properties.Settings>
    </applicationSettings>
</configuration>
